@import url(//db.onlinewebfonts.com/c/0406c39d71726a4efe1134bf8e3feb71?family=Apercu+Pro);
.app {
  height: 100vh;
  width: 100vw;
  background: #f2f4f8;
}

.app .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 2.5rem;
  width: 100%;
}

.app .search .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 1.25rem 1.25rem 0 0;
}

.app .search .search-box .search-box__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  border-radius: 0.75rem;
  background: #f2f4f8;
  margin-right: 1rem;
}

.app .search .search-box .search-box__bar input {
  font-family: "Apercu Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #000000;
  padding: 1.5rem 0;
  border: none;
  background: transparent;
  width: 55.03rem;
  height: 1.625rem;
  outline: none;
  margin-left: 0.625rem;
}

.app .search .search-box .search-box__bar input::-webkit-input-placeholder {
  color: #000;
}

.app .search .search-box .search-box__bar input:-ms-input-placeholder {
  color: #000;
}

.app .search .search-box .search-box__bar input::-ms-input-placeholder {
  color: #000;
}

.app .search .search-box .search-box__bar input::placeholder {
  color: #000;
}

.app .search .search-box .search-btn {
  border: none;
  outline: none;
  padding: 24px;
  background: #000000;
  border-radius: 0.75rem;
  cursor: pointer;
  color: #ffffff;
  font-family: "Apercu Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.app .search .search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1.5rem;
  width: 68rem;
  background: #fff;
  border-radius: 0 0 1.25rem 1.25rem;
}

.app .search .search-result .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 37rem;
}

.app .search .search-result .loader .loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.app .search .search-result .loader .loading div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #b6bac2 transparent transparent transparent;
}

.app .search .search-result .loader .loading div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.app .search .search-result .loader .loading div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.app .search .search-result .loader .loading div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.app .search .search-result .search-result__item {
  border-radius: 0.75rem;
  width: 354px;
  height: 236px;
}

.app .search .search-result .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.app .search .search-result .pagination .pagination__move {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #272727;
  margin: 0 1rem;
}

.app .search .search-result .pagination .pagination__count {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #272727;
  margin: 0 1rem;
}

.app .search .search-result .pagination .pagination__selected {
  background: #fce5ee;
  padding: 0.875rem;
  border-bottom: 1px solid #eb518f;
  cursor: pointer;
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */